.conteiner {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.addToTask {
    display: flex;
}

.listOfTasks {
    display: flex;
    flex-direction: column;
}

.addToTask__btn {
    max-width: 30%;
    height: 50px;
}

.listOfTasks__btn {
    max-width: 30%;
    height: 50px;
}